* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    position: absolute;
    right: 20px;
    top: 20px;
}
