* {
    margin: 0;
    padding: 0;
}

body, main {
    background-color: black;
    background-size: cover;
}

.logo-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60;
    color: white;
}

.logo-link:after {
    display: block;
    content: '';
    transition: all 0.5s linear;
    width: 100%;
    border-bottom: 2px solid white;
    transform: scaleX(0);
}

.logo-link:hover:after {
    color: white;
    transform: scale(1);
}

a {
    text-decoration: none;
    color: black;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    transition: 0.5s;
}

.signup:hover {
    cursor: pointer;
}

.description {
    margin-left: 80px;
    margin-top: 80px;
}

.signup-container {
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    background: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 300px;
    height: 300px;
}

.input-field {
    display: flex;
    margin: 40px auto;
    background: transparent;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: black;
    width: 180px;
    transition: 0.5s;
    outline: none;
}

.input-field:focus {
    width: 200px;
}

.register-btn {
    width: 100px;
    height: 30px;
    transition: 0.5s;
    border: 1px solid black;
    border-radius: 2px;
}

.register-btn:hover {
    cursor: pointer;
    color: white;
    border-radius: 5px;
    height: 30px;
    background-color: #31383F;
}

.icons {
    position: absolute;
    left: 20px;
    top: 20px;
}
