{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <p>A <span style = "color: red">simple way</span> to gather <span style = "color: red"> information</span> from the <span style = "color: red"> stock market</span>.</p>
    <p>Read the <a class = "documentation" href = "https://github.com/pcrespan/StockConsultant">documentation</a></p>
    <div>
        <img class = "lower-icons" src = "/static/search.png" width = "100" height = "100">
        <img class = "center-icon" src = "/static/network.png" width = "100" height = "100">
        <img class = "lower-icons" src = "/static/info.png" width = "100" height = "100">
        <img class = "upper-icons" src = "/static/money.png" width = "100" height = "100">
        <img class = "upper-icons" src = "/static/stockmkt.png" width = "100" height = "100">
    </div>
{% endblock %}
