{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class = "description">
        <p>Simple</p>
        <p>Free</p>
        <p>Open source</p>
        <p>Read the <a class = "documentation" href = "https://github.com/pcrespan/StockConsultant">documentation</a></p>
    </div>
    <div class = "api">
        <img src = "/static/api.png" height = "350" width = "350">
    </div>
    <footer>
        <div>Data provided by <a href = "https://finance.yahoo.com/"> Yahoo Finance </a></div>
        <div> Icon made by <a href="https://www.flaticon.com/authors/justicon" title="justicon"> justicon </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
{% endblock %}
