{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <ul>
        <li class = "description">Consult stock information</li>
        <li class = "description">Simple to use</li>
        <li class = "description">Read the <a class = "documentation" href = "https://github.com/pcrespan/StockConsultant">documentation</a></li>
    </ul>
    <div class = "img-icons">
        <img src = "/static/search.png" width = "200" height = "200">
        <img src = "/static/network.png" width = "200" height = "200">
        <img src = "/static/info.png" width = "200" height = "200">
        <img src = "/static/money.png" width = "200" height = "200">
        <img src = "/static/stockmkt.png" width = "200" height = "200">
    </div>
{% endblock %}
