<html lang="en">
    <link href="/static/style.css" rel="stylesheet">
    <title> StockConsultant: {% block title %}{% endblock %} </title>

    <body>
        <div class = "nav-container">
            <div class = "nav-bar">
                <button class = "signup"><a href = "/register">Sign Up</a></button>
            </div>
            <div class = "logo">
                <a class = "logo-link" href = "/">Stock Consultant<span style = "color: red">.</span></a>
            </div>
        </div>
        <div class = "icons">
            <a href = "https://github.com/pcrespan"><img src="/static/github-mark-white.png" width = "30" height = "30"></a>
        </div>
    </body>

    <main>
        {% block main %}{% endblock %}
    </main>
</html>
