<html lang="en">
    <link href="/static/style.css" rel="stylesheet">
    <title> StockConsultant: {% block title %}{% endblock %} </title>

    <body>
        <div class = "nav-container">
            <ul class = "nav-bar">
                <li class = "signup"><a href = "/register">Sign Up</a></li>
            </ul>
            <div class = "logo">
                <a class = "logo-link" href = "/">Stock Consultant<span style = "color: red">.</span></a>
            </div>
        </div>
    </body>

    <main>
        {% block main %}{% endblock %}
    </main>
</html>
