{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class = "error">
        {{ error }}
    </div>
    <div class = "signup-container">
        <form action = "/register", method = "post">
            <input class = "input-field" required name = "username" placeholder = "Username">
            <input class = "input-field" required type = "password" name = "password" placeholder = "Password">
            <input class = "input-field" required type = "password" name = "confirmation" placeholder = "Confirm password">
            <button class = "register-btn">Sign Up</button>
        </form>
    </div>
{% endblock %}
